body {
  background-color: antiquewhite; }

section {
  width: 700px;
  height: 80px;
  margin: 10px auto;
  padding: 9px; }

#score {
  font-size: 30px;
  color: blue; }

#score2 {
  font-size: 35px;
  color: gray; }

#score3 {
  font-size: 45px;
  color: lightcoral; }
